* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-itgems: center;
  padding: 1rem;
  background:#222;
  color: #fff;
}

.nav-links {
    list-style: none;
    display: none;
    flex-direction: column;
}

.nav-links li{
  margin: 10px 0;
}

.nav-links s{
  text-decortion: none;
  color: white;
}

.hero {
   display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: linear-gradient(to right, #4facfe , #00f2fe);
  color: white;
  padding: 20px;
}

.hero-content h1{
  font-size: 2rem;
  animation: fadeIn 1.5s ease-in-out;
}

.hero-content p{
  padding: 10px 20px;
  border: none;
  background: white;
  color: #333;
  curser: pointer;
  transition: 0.3s;
}

.hero button:hover{
  background: #222;
  color: white;
}

.features {
  padding: 3rem 1 rem;
  text-align: center;
}

.features-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 2rem;
}

.feature-card{
  padding: 20px;
  background: #f4f4f4;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.feature-card: hover{
  transform: translateY(-10px);
}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: white;
}

@media (min-width: 768px){
  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .menu-toggle{
    display: none;
  }

 .features-container{
  grid-template-columns : repeat(2, 1fr);
 }
}

@media (min-width: 1024px){
  .features-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .hero-content h1{
    font-size; 3 rem;
  }
}

@keyframes fadeIn {
  from { opacity: 0 ; transform: translateY(-20px);}
  to { opacity: 1; transform: translateY(0);}
}
